@import "tailwindcss";


@layer base {
  * {
    box-sizing: border-box;
  }
  html,
  body {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
  body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: '#1B2228';
  }
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}


@theme {
  --color-primary: #FDC800;
  --color-secondary: #007BFF;
  --color-background: #EEEDDE;
}


@layer utilities {
  .nb-shadow {
    border: 1px solid #000;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.9);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

